.error {
	h1 {
	    font-size: 200px;
	    font-weight: 900;
	    letter-spacing: 1rem;
        line-height: 1.1;
        margin-top: -36px; 
        color: $theme-color;
        // responsive
        @media #{$md-device} {
            font-size: 130px;
        }
        @media #{$sm-device} {
            font-size: 100px;
            margin-top: -16px;
        }
	}
	h2 {
        font-size: 25px;
        // responsive
        @media #{$xxs-device} {
            font-size: 20px;
        }
    }
    .searchform {
        display: flex;
        margin-top: 40px;
        justify-content: flex-start;
        &__input{
            border: 1px solid #eeeeee;
            height: 45px;
            width: 100%;
            padding-left: 15px;
            // responsive
            @media #{$xxs-device} {
                width: 85%;
            }
        }
        &__submit{
            border: none;
            background-color: $theme-color;
            width: 70px;
            color: #fff;
            cursor: pointer;
            &:hover {
                background-color: $black-soft;
            }
        }
    }
}